<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elhadji.e_learningquizz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"
                  android:label="@string/labelsecond"/>
        <activity android:name=".SoSuchActivity"
                  android:label="@string/labelso"/>
        <activity android:name=".AsLikeActivity"
            android:label="@string/labelas"/>
        <activity android:name=".StillAlwaysActivity"
                  android:label="@string/labelstill"/>
        <activity android:name=".BeUsedToActivity"
            android:label="@string/labeluseto"/>
        <activity android:name=".ThisThatActivity"
                  android:label="@string/labelname" />
    </application>

</manifest>